@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    min-height: 200vh;
}
#test {
    border: 2px solid red;
}
.background {
    /*background-color: #F4F3F2;*/
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}
h1 { /*HELLO*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 150px;
    color: #a8dadc;
}
/*THE ABOUT ME SECTION*/
.foreground {
    position: absolute;
    top: 10;
    left: 10;
    height: 80%;
    width: 80%;
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    justify-content: space-around; /*space-evenly*/
    align-items: center;
}
.characterContainer, .about {
    height: 400px; /*500*/
    width: 450px; /*500*/ 
}
.characterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.charBG {
    background-color: #a8dadc;
    border: 10px solid #a8dadc;
    height: 420px; /*300*/
    width: 640px; /*400*/  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.character {
    font-size: 300px;
}
.about, p {
    font-family: 'Poppins', sans-serif;
}
/*PORTFOLIO SECTION*/
.section {
    position: absolute;
    margin-top: 100vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {  display: grid;
    grid-template-columns: 25% 25% 25% 25% ; /*250px 250px 250px 250px*/
    grid-template-rows: 50% 50%; /*250px 250px*/
    /*gap: 6px 6px;*/
    grid-template-areas:
      ". . . ."
      ". . . .";
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0px 24px;
}
.container div {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}
.portfolioIMG {
    height: 200px;
    width: 200px;
}
/*PORTFOLIO IMG ON HOVER*/
.portfolioIMG:hover {
    height: 240px;
    width: 240px;
    transition: 0.5s ease;
}