@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*THE NAVIGATION*/
ul {
    list-style-type: none;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #333;;
}
ul i {
    float: right;
    padding: 0px 6px;
    color: #F4F3F2;
    cursor: pointer;
}
li {
    float: left;
}
li a {
    text-decoration: none;
    color: #F4F3F2;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.icons {
    display: flex;
    z-index: 11;
    float: right;
    color: #F4F3F2;
}
/*Experiences*/
.grid-container {
    padding: 80px 24px 24px 24px;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 36px;
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.image {
    max-width: 400px;
    max-height: 300px;
}
/*FOOTER*/
footer {
    background-color: #333;
    color: #F4F3F2;
    padding: 0px 0px 24px 0px;
}
footer .recentP i {
    color: #F4F3F2;
    padding: 0px 6px;

}
.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 24px;
}
footer p {
    font-size: 15px;
    font-weight: 200;
}
.line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
.recentP {
    color: #333;
    padding: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}